.carousel-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(20, 20, 22);
}

.carousel-container {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.carousel-gallery-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 35% 35%;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.15);
  transition: opacity 3s ease-in-out, visibility 3s ease-in-out,
    transform 14s ease-in;
}

.carousel-gallery-image.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.carousel-overlay-header {
  font-size: clamp(0.6rem, 1.2vw, 1.3rem);
  font-weight: 400;
  font-style: normal;
  font-family: var(--primary-font);
  margin: 0 2em 0 0;
}

.carousel-overlay-wrapper {
  position: absolute;
  z-index: 3;
  display: flex;
  align-items: start;
  justify-content: center;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.carousel-overlay-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45px;
  background-color: var(--background-color-B);
}

.carousel-overlay-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

@media screen and (min-width: 20px) and (max-width: 1024px) {
  .carousel-wrapper {
    height: 94vh;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .carousel-wrapper {
    height: 94vh;
  }
}

@media screen and (min-width: 1441px) and (max-width: 2560px) {
  .carousel-wrapper {
    height: 94vh;
  }
}
