.carousel-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(20, 20, 22);
}

.carousel-container {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.carousel-gallery-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 35% 35%;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.15);
  transition: opacity 1.5s ease-in-out, visibility 1.5s ease-in-out,
    transform 12s ease-in;
}

.carousel-gallery-image.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.carousel-overlay-header {
  font-size: clamp(0.6rem, 1.2vw, 1.3rem);
  font-weight: 400;
  font-style: normal;
  font-family: var(--primary-font);
  margin: 0 2em 0 0;
}

.carousel-overlay-wrapper {
  position: absolute;
  z-index: 3;
  display: flex;
  align-items: start;
  justify-content: center;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.carousel-overlay-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45px;
  background-color: var(--background-color-B);
}

.carousel-overlay-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 50%;
  height: 100%;
}

/* @media screen and (min-width: 20px) and (max-width: 1024px) {
  .carousel-wrapper {
    height: 50vh;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .carousel-wrapper {
    height: 94vh;
  }
}

@media screen and (min-width: 1441px) and (max-width: 2560px) {
  .carousel-wrapper {
    height: 94vh;
  }
} */

/* Small Mobile (up to 480px) */
@media screen and (max-width: 425px) {
  .carousel-wrapper ,
  .carousel-overlay-wrapper{
    height: 35vh;
  }

  .carousel-overlay-wrapper {
    display: none;
  }
}

/* Mobile (481px to 767px) */
@media screen and (min-width: 426px) and (max-width: 768px) {
  .carousel-wrapper ,
  .carousel-overlay-wrapper{
    height: 40vh;
  }
  .carousel-overlay-wrapper {
    display: none;
  }
}

/* Small Tablet (768px to 1024px) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .carousel-wrapper ,
  .carousel-overlay-wrapper{
    height: 94vh;
  }
  .carousel-overlay-wrapper {
    display: none;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .carousel-wrapper ,
  .carousel-overlay-wrapper{
    height: 94vh;
  }
  .carousel-overlay-wrapper {
    display: none;
  }
}

/* Large Tablet / Small Laptop (1025px to 1280px) */
@media screen and (min-width: 1441px) and (max-width: 1920px) {
  .carousel-wrapper ,
  .carousel-overlay-wrapper{
    height: 94vh;
  }
  .carousel-overlay-wrapper {
    display: none;
  }
}

/* Medium Desktop (1441px to 1920px) */
@media screen and (min-width: 1921px) and (max-width: 2560px) {
  .carousel-wrapper ,
  .carousel-overlay-wrapper{
    height: 94vh;
  }
  .carousel-overlay-wrapper {
    display: none;
  }
}

/* 4K Desktop (2561px and above) */
@media screen and (min-width: 2561px) {
  .carousel-wrapper ,
  .carousel-overlay-wrapper{
    height: 94vh;
  }
  .carousel-overlay-wrapper {
    display: none;
  }
}
