.img-carousel-wrapper {
  display: flex;
  width: 90vw; 
  margin: auto; 
  height: 100%;
  margin: 2% 0%;
}

.img-carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
