.workshop-poster-container {
  display: flex;
  width: 48%;
  height: 45vh;
  margin: 5% 0%;

  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.poster-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.poster-banner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  padding: 2% 0;
}

.banner-header {
  font-weight: 400;
  font-size: clamp(0.8rem, 1.6vw, 3rem);
}

.poster-line-overlay {
  height: 1px;
  margin: 0;
  width: 60%;
}

.workshop-btn {
  width: 100%;
  padding: 20px;

  border-radius: 0 0 5px 5px;
  border: none;
  color: antiquewhite;
  font-size: 1.2rem;
  cursor: pointer;
}

.workshop-banner-info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin: 1.3% 0 1.5% 0;
}

.workshop-banner-info {
  display: flex;
  align-items: center;
}

.workshop-banner-header {
  margin-right: 6px;
}

.workshop-banner-para {
  font-size: clamp(0.8rem, 1.6vw, 1rem);
}
