.poster-entry,
.blog-text-wrapper {
  background-color: rgb(20, 20, 22);
}

.poster-container {
  min-width: 100%;
  margin: 0 0 2% 0;
  /* margin: 1.4% 8%; */
}

.a-wrapper {
  width: 100%;
}

.poster-entry {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.poster-title,
.poster-title-overlay {
  font-size: clamp(1rem, 3vw, 2.6rem);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 300;
}

.poster-title {
  margin: 3% 0 1.8% 0;
}

.poster-title-overlay {
  font-size: clamp(1.1rem, 3.5vw, 3rem);
  margin: 0 0 0.6% 0;
}

.poster-entry img,
.poster-img-banner,
.poster-img-overlay {
  height: 11rem;
}

.poster-entry img {
  width: 100%;
  object-fit: cover;
}

.poster-img-banner {
  position: relative;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 8px;
}

.poster-img-overlay {
  position: absolute;
  width: 100%;

  background-color: rgba(26, 26, 27, 0.88);
}

.banner-container-over-image {
  position: absolute;
  padding: 0 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 11rem;
  width: 100%;
}

.poster-entry,
.poster-img-banner {
  width: 100%;
}
.poster-line,
.poster-line-overlay {
  height: 1px;
  width: 85%;
  background-color: rgb(255, 85, 0);
}

.poster-line {
  margin: 1.3% 0;
}

.poster-line-overlay {
  margin: 2% 0 0 0;
  width: 100%;
}

.poster-info-container {
  display: flex;
  justify-content: space-between;
  min-width: 25%;
  font-size: 1rem;
  margin-bottom: 20px;
}

.poster-txt-content {
  min-width: 100%;
  height: auto;
  padding: 0 8%;
}

.blog-text,
.blog-text-headerTxt {
  margin: 2% 12% 0 0;
}

.blog-text-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 8% 12% 8%;
}

.blog-text-headerTxt {
  font-weight: 600;
  font-size: 1.1rem;
}

.blog-text-paraHeader {
  margin-top: 28px;
  color: antiquewhite;
  font-weight: 600;
  font-size: 1.1rem;
}

.workshop-content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0 12%;
}

.workshop-cta {
  width: 100%;
  padding: 20px;
  margin: 12% 0;
  border-radius: 5px;
  border: none;
  color: antiquewhite;
  font-size: 1.2rem;
  background-color: rgb(205, 56, 6);
  cursor: pointer;
}

.blog-section {
  width: 65%;
}

.workshop-info-wrapper {
  padding: 2% 0;
  width: 35%;
}

.workshop-info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.details-li-elem {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.details-header {
  color: antiquewhite;
}

.details-text {
  font-size: 0.9rem;
}
