.poster-container {
  margin: 1.4% 0;
  flex: 1;
  max-width: 850px;
}

.poster-entry {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #13060c;
  width: 100%;
}

.poster-header {
  font-size: clamp(1rem, 2.3vw, 2rem);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 300;
  margin-top: 5px;
}

.poster-entry img {
  max-height: 18rem;
  width: 100%;
  object-fit: cover;
}

.poster-img-header {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 8px;
}

.poster-entry,
.poster-img-header {
  width: 100%;
}

.poster-line {
  height: 1px;
  width: 75%;
  margin: 12px 0;
  background-color: rgb(228, 134, 71);
}

.poster-info-container {
  display: flex;
  justify-content: space-between;
  min-width: 43%;
  font-size: 1rem;
  margin-bottom: 20px;
}

@media screen and (min-width: 369px) and (max-width: 425px) {
  .poster-container {
    min-width: 350px;
    max-width: 650px;
    margin: 1.4%  25%;
  }
}

@media screen and (min-width: 424px) and (max-width: 768) {
  .poster-container {
    min-width: 650px;
    max-width: 700px;
  }

  .poster-entry img {
    width: 100%;
    object-fit: cover;
  }

  .workshop-image {
    width: 100%;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1399px) {
  .poster-container {
    min-width: 750px;
  }
}
@media screen and (min-width: 1400px) {
  .poster-container {
    min-width: 850px;
  }
}
