.blog-entry-container {
  margin: 25px 0;
}

.blog-entry {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  background-color: #002434;
}

.blog-entry img {
  max-height: 300px;
  width: 100%;
  object-fit: cover;
}

.entry-img-header {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 8px;
}

.blog-entry,
.entry-img-header {
  width: 750px;
}

.poster-line {
  height: 1px;
  width: 75%;
  margin: 12px 0;
  background-color: antiquewhite;
}

.poster-info-container {
  display: flex;
  justify-content: space-between;
  min-width: 80%;
  font-size: 1.1rem;
  margin-bottom: 20px;
}
