/* 
Expermimental feature: grid-template-rows: masonry
Cred :George Griffiths
https://griffadev.medium.com/
*/

.workshop-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  padding: 0 8%;
}

.gallery_container {
  min-width: 100%;

}

.gallery-container img {
  flex-grow: 1;
  width: 100%;
  max-width: 340px;
  height: auto;
  border: 4px solid black;
}

.gallery-image {
  flex: 1;
  min-width: 100px;
  max-width: 320px;
}

.gallery-container {
  min-width: 100%;
  --masonry-gap: 1.3rem;
  --masonry-brick-width: 290px;
  column-gap: var(--masonry-gap);
  column-fill: initial;
  column-width: var(--masonry-brick-width);
  justify-content: center;
}

.gallery-container > * {
  break-inside: avoid;
  margin-bottom: var(--masonry-gap);
}

@supports (grid-template-rows: masonry) {
  .gallery-container {
    display: grid;
    gap: var(--masonry-gap);
    grid-template-rows: masonry;
    grid-template-columns: repeat(
      auto-fit,
      minmax(var(--masonry-brick-width), 1fr)
    );
    align-tracks: stretch;
  }

  .gallery-container > * {
    margin-bottom: initial;
  }
}

@media screen and (min-width: 300px) and (max-width: 500px) {
  .gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .gallery-image {
    flex: 1;
    min-width: 100px;
    max-width: 220px;
  }
}

@media screen and (min-width: 501px) and (max-width: 1024px) {
  .gallery-container {
    min-width: 100%;
    --masonry-gap: 1.3rem;
    --masonry-brick-width: 215px;
    column-gap: var(--masonry-gap);
    column-fill: initial;
    column-width: var(--masonry-brick-width);
    justify-content: center;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .gallery-container {
    min-width: 100%;
    --masonry-gap: 1.3rem;
    --masonry-brick-width: 225px;
    column-gap: var(--masonry-gap);
    column-fill: initial;
    column-width: var(--masonry-brick-width);
    justify-content: center;
  }
}

@media screen and (min-width: 1441px) and (max-width: 2560px) {
  .gallery-container {
    min-width: 100%;
    --masonry-gap: 1.3rem;
    --masonry-brick-width: 235px;
    column-gap: var(--masonry-gap);
    column-fill: initial;
    column-width: var(--masonry-brick-width);
    justify-content: center;
  }

  .gallery-container {
    min-width: 100%;
  }
}
