header {
  position: fixed;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  min-width: 100%;
  background-color: rgb(35, 34, 36);
  border-bottom: 2px solid rgb(27, 26, 27);
}

.header-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: clamp(1.4rem, 2.3vw, 2rem);
  margin: 0;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav-links {
  display: flex;
  flex: 1;
  justify-content: space-between;
   width: 100%;
}

.header-link-li {
  padding: 0 1rem;
}

.header-link-li:last-child {
  padding: 0 0 0 1rem;
}

.header-link {
  font-size: clamp(0.6rem, 2vw, 1rem);
  font-weight: 600;
}

@media screen and (min-width: 369px) and (max-width: 424px) {
  .header-nav-links {
    display: none;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .header-nav-links {
    display: none;
  }
}
