header,
nav,
ul {
  display: flex;
}

header {
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  min-width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav-links {
  display: flex;
  justify-content: space-between;
  min-width: 350px;
}

.header-link {
  font-size: 1.2rem;
  font-weight: 600;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main,
.main-content,
.header-content {
  min-width: 80%;
}
