header,
nav {
  display: flex;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  margin-top: 76px;
  display: flex;
  justify-content: center;
  min-width: 100%;
}

.main-content,
.header-content {
  width: 80%;
}
