@media screen and (min-width: 20px) and (max-width: 1024px) {

  .header-content,
  .gallery-container {
    margin: 0 2%;
  }
  .carousel-container {
    height: 360px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {

  .header-content,
  .gallery-container {
    margin: 0 8%;
  }
}

@media screen and (min-width: 1441px) and (max-width: 2560px) {

  .header-content,
  .gallery-container {
    margin: 0 4% 0 4%;
  }
}
