
@media screen and (max-width: 1024px) and (min-width: 20px) {
    .main-content,
    .header-content {
      max-width: 80%;
    }
  }
  

  @media screen and (max-width: 1440px) and (min-width: 1025px) {
    .main-content,
    .header-content {
      max-width: 950px;
    }
  }

  @media screen and (max-width: 2560px) and (min-width: 1441px) {
    .main-content,
    .header-content {
      max-width: 1224px;
    }
  }