a,
p,
h1,
h2 {
  color: rgb(32, 14, 14);
}

footer,
body {
  background-color: rgb(164, 164, 163);
}

header,
.poster-entry,
.blog-text-wrapper,
.blog-content-wrapper {
  background-color: rgb(239, 239, 239);
}
.header-title-accent,
.header-link:active,
.header-link:hover {
  color: rgb(180, 11, 36);
}

/* Accent Color */

.poster-line-overlay,
.workshop-btn,
.workshop-cta {
  background-color: rgb(180, 11, 36);
}

.swiper-slide,
.workshop-page-banner  {
    background: rgb(209, 209, 213);
}

