.img-carousel-wrapper,
.img-carousel-container {
  position: relative;
  display: flex;
  justify-content: right;
  width: 100%;
}

.img-carousel-wrapper {
  flex-direction: column;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.myImageSwiper {
  width: 100%;
  height: 380px;
  /* margin-top: 30px; */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: var(--background-color-A);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Navigation buttons */

:root {
  --swiper-navigation-size: 20px;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-navigation-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 30px;
  margin: 4px 0;
}

.swiper-navigation-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45px;
  height: 30px;
}

.custom-prev,
.custom-next {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: auto;

  margin: 0;
  padding: 0;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.custom-prev::after,
.custom-next::after {
  font-size: 20px;
  color: rgb(0, 0, 0);
  /* content: "";  */
}

@media (max-width: 768px) {
  :root {
    --swiper-navigation-size: 15px; /* Reduce size for mobile */
  }

  .swiper-navigation-container {
    width: 35px; /* Reduce container width for mobile */
    height: 25px; /* Reduce container height for mobile */
  }

  .custom-prev::after,
  .custom-next::after {
    font-size: 15px; /* Reduce arrow size for mobile */
  }
}
