.workshop-content-container {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (min-width: 0px) and (max-width: 845px) {
  .workshop-content-container {
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .workshop-poster-container {
    width: 100%;
    height: 530px;
    min-width: auto;
  }

  .workshop-banner-heading {
    display: none;
  }

  .banner-heading {
    font-size: clamp(1.8rem, 2.3vw, 3rem);
  }

  .workshop-banner-para {
    font-size: clamp(0.8rem, 0.5vw, 2.2rem);
  }

  .slide-content-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .slide-left {
    width: 100%;
    height: 40%;
  }

  .slide-right-content {
    width: 85%;
    height: 100%;
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: 20%;
  }

  .slide-content-text-container {
    width: 100%;
    height: 65%;
    overflow: auto;
  }

  .workshop-btn {
    margin: 0 7.5% 8% 0;
  }

  .slide-content-text-container li {
    margin: 0.4px 25px;
  }

  .carousel-overlay-left {
    width: 100%;
  }

  
}

@media screen and (min-width: 846px) and (max-width: 1301px) {
  .workshop-content-container {
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .workshop-poster-container {
    width: 100%;
  }

  .workshop-banner-heading,
  .workshop-banner-para {
    font-size: clamp(1rem, 1vw, 2.2rem);
  }
}
