@media screen and (min-width: 20px) and (max-width: 425px) {
  .carousel-wrapper {
    display: none !important; 
  }
}

@media screen and (min-width: 20px) and (max-width: 768px) {
  .content-container {
    padding: 0 5%;
  }

  .poster-container {
    margin: 7% 0;
  }

  .header-content,
  .gallery-content-container {
    padding: 0;
  }

  .workshop-info-wrapper {
    min-width: 100%;
  }

  .workshop-cta {
    margin: 22px 0 0 0;
  }

  .blog-section {
    width: 100%;
  }

  .header-content,
  .section-wrapper,
  .header-wrapper,
  .homepage-header-lower-container {
    padding: 0 5%;
  }
  .carousel-container,
  .carousel-wrapper,
  .carousel-overlay-wrapper {
    height: 60vh;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  main {
    margin-top: 60px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
  .content-container {
    padding: 0 5%;
  }

  .header-content,
  .section-wrapper,
  .header-wrapper,
  .homepage-header-lower-container {
    padding: 0 5%;
  }
  .carousel-container,
  .carousel-wrapper,
  .carousel-overlay-wrapper {
    height: 60vh;
  }
}

@media screen and (min-width: 1441px) and (max-width: 1700px) {
  .content-container {
    padding: 0 5%;
  }

  .header-content,
  .section-wrapper,
  .header-wrapper,
  .homepage-header-lower-container {
    padding: 0 5%;
  }
}

@media screen and (min-width: 1701px) and (max-width: 3840px) {
  .content-container,
  .section-wrapper,
  .header-content,
  .header-wrapper,
  .homepage-header-lower-container {
    padding: 0 14%;
  }
}

/* Macbook pro */
@media only screen and (min-device-width: 1800px) and (max-device-width: 1800px) {
  .content-container {
    padding: 0 12%;
  }

  .header-content,
  .section-wrapper,
/*   .header-wrapper, */
  .homepage-header-lower-container {
    padding: 0 5%;
  }

  /* .img-carousel-wrapper {
    width: 90vw;
  } */
}
