@media screen and (min-width: 20px) and (max-width: 768px) {
  
  .content-container {
    padding: 0 5%;
  }

  .poster-container {
    margin: 7% 0;
  }

  .poster-img-overlay {
    background: linear-gradient(to top, rgb(26, 26, 27) 8%, transparent);
  }

  .header-content,
  .gallery-content-container {
    padding: 0;
  }

  .details-li-elem,
  .blog-text,
  .blog-text-headerTxt,
  .blog-text-paraHeader {
    display: none;
  }

  .blog-text,
  .blog-text-headerTxt {
    padding: 12px 0;
    margin: 12px 0;
  }

  .workshop-info-wrapper {
    min-width: 100%;
  }

  .workshop-cta {
    margin: 22px 0 0 0;
  }

  .blog-section {
    width: 100%;
  }

  .header-content,
  .workshop-content-wrapper  {
    padding: 0 5%;
  }
  .carousel-container,
  .carousel-wrapper,
  .carousel-overlay-wrapper {
    height: 360px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
  
  .content-container {
    padding: 0 5%;
  }

  .header-content,
  .gallery-content-container,
  .workshop-content-wrapper  {
    padding: 0 5%;
  }
  .carousel-container,
  .carousel-wrapper,
  .carousel-overlay-wrapper {
    height: 60vh;
  }

}

@media screen and (min-width: 1441px) and (max-width: 1700px) {
  
  .content-container {
    padding: 0 5%;
  }

  .header-content,
  .gallery-content-container,
  .workshop-content-wrapper  {
    padding: 0 5%;
  }
}

@media screen and (min-width: 1701px) and (max-width: 3840px) {
  .content-container,
  .header-content,
  .gallery-content-container,
  .workshop-content-wrapper {
    padding: 0 14%;
  }

  .img-carousel-wrapper {
    width: 72vw;
  }
}

/* Macbook pro */
@media only screen and (min-device-width: 1800px) and (max-device-width: 1800px) {
  
  .content-container {
    padding: 0 12%;
  }

  .header-content,
  .gallery-content-container,
  .workshop-content-wrapper {
    padding: 0 5%;
  }

  .img-carousel-wrapper {
    width: 90vw;
  }
}
