.image-container {
  position: relative;
  display: inline-block;

  border: none;
  cursor: zoom-in;
}

.image-container img {
  display: block;
}

.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.2);
  opacity: 0;
  transition: opacity 0.2s;
}

.image-container:hover::before {
  opacity: 1;
}
