.workshop-link-to-section {
  border: none;
  background: none;
  font-size: 1rem;
  font-style: normal;
  cursor: pointer;
  padding: 12px 0 6px 0;
  text-decoration: underline;
}

.workshop-link-to-section {
  font-size: clamp(0.6rem, 1.3vw, 1.3rem);
  font-weight: 500;
  font-style: italic;
  font-family: var(--primary-font);
}

.workshop-link-to-section:hover {
  font-size: clamp(0.07rem, 1.35vw, 1.35rem);
  font-size: 1.025rem;
}
