.workshop-scroll-to-section {
  border: none;
  background: none;
  font-size: 1rem;
  font-style: normal;
  cursor: pointer;
  /* text-decoration: underline; */
  font-size: clamp(0.6rem, 1.1vw, 1.2rem);
  font-weight: 500;
  font-family: var(--primary-font);
  /* margin: 0 0 0 45px; */
}


.workshop-scroll-to-section:hover {
  /* font-size: clamp(0.07rem, 1.35vw, 1.35rem); */
  color: var(--accent-color-A);
}

.workshop-scroll-to-section-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;

}

.workshop-scroll-to-section-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px;
}

.workshop-scroll-to-section-list-item:last-child {
  margin-right: 0;
}