.slide-content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  height: 100%;
  width: 100%;
}

.slide-content-header {
  font-size: 1rem;
  margin: 0 0 1% 0;
  font-size: clamp(1.2rem, 1.3vw, 1.5rem);
  font-family: var(--secondary-font);
}

.slide-content-paragraph {
  font-size: clamp(0.9rem, 1vw, 1.1rem);
  font-family: var(--secondary-font);
}

.slide-content-paragraph,
.slide-content-header {
  font-weight: 500;
  font-style: italic;
}

.slide-left {
  display: flex;
  align-items: center; /* Center the video vertically */
  height: 100%; /* Fill the height of its parent */
  width: 40%;
}

.slide-video {
  object-fit: cover;
  max-height: 100%; /* Limit video height to prevent overflow */
  max-width: 100%; /* Limit video width to prevent overflow */
  width: 100%; /* Adjust width to maintain aspect ratio */
  height: 100%; /* Adjust height to maintain aspect ratio */
}

.slide-right-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  width: 60%;
  height: 77%;
  margin: 2% 3%;
  overflow-y: scroll;
}

.slide-content-text-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 77%;
}

.slide-content-text-container li {
  list-style-position: inside;
  list-style: disc;
  text-align: left;
  margin: 5px 25px;
}
