.slide-content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  height: 100%;
  width: 100%;
}

.slide-left {
  display: flex;
  align-items: center; /* Center the video vertically */
  height: 100%; /* Fill the height of its parent */
  width: 40%;
}

.slide-video {
  object-fit: cover;
  max-height: 100%; /* Limit video height to prevent overflow */
  max-width: 100%; /* Limit video width to prevent overflow */
  width: 100%; /* Adjust width to maintain aspect ratio */
  height: 100%; /* Adjust height to maintain aspect ratio */
}

.slide-right-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  width: 60%;
  height: 77%;
  margin: 2% 3%;
  overflow-y: scroll;
}


.slide-content-text-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 77%;

}

.slide-content-text-container li {
  list-style-position: inside;
  list-style: disc;
  text-align: left;
  margin: 5px 25px;
}


