.slide-video {
  height: 400px;
  width: auto;
}

.slide-content-wrapper {
  display: flex;
  flex-direction: row;
}

.slide-right-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  width: 100%;
  margin: 3% 4.5%;
}

.slide-content-header {
  font-size: 1.1rem;
  font-weight: 400;
  text-decoration: underline;
}

.slide-content-text-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;

}

.slide-content-text-container li {
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  margin: 7px 0;
}

.slide-content-paragraph {
  font-size: 0.85rem;
}
