.workshop-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  background-color: var(--background-color-A);
}

.workshop-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 0 6% 0;
}

.workshop-poster-container {
  display: flex;
  width: 48%;
  height: 550px;
  margin: 3% 0 5% 0%;
  min-width: 580px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.poster-entry {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background-color: var(--background-color-C);
}

.poster-banner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  padding: 2% 0 0.8% 0;
}


.poster-line-overlay {
  height: 1px;
  margin: 0;
  width: 85%;
  background-color: var(--accent-color-A);
}

.workshop-btn {
  position: absolute;

  padding: 10px;
  border-radius: 5px;
  border: none;
  color: antiquewhite;
  font-size: 1.1rem;
  cursor: pointer;

  bottom: 0;
  right: 0;
  z-index: 3;
  margin: 0 7.5% 3% 0;
}

.workshop-btn, 
.workshop-cta {
  background-color: var(--accent-color-A);
}

.workshop-banner-info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  margin: 0.4% 0 1.5% 0;
}

.workshop-banner-para {
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1rem, 0.8vw, 1.2rem);
  font-family: var(--primary-font);
}

.banner-header {
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1rem, 2.3vw, 3rem);
  font-family: var(--primary-font);
}

.workshop-banner-info {
  display: flex;
  align-items: center;
}

.workshop-banner-header {
  margin-right: 6px;
  font-weight: 600;
  font-style: normal;
  font-family: var(--primary-font);
}

